@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-color: yellow;
} */

.display-4{
  font-family: 'Gloria Hallelujah', cursive;
  font-size:  10rem;
}

.jumbotron{
  background-color: orange;
}

.navbar{
  width: 100%;
  background-color: orange
}

.navbar a{
  color: #4d00ff;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.navbar a:hover{
  font-size: 2rem;
}
